body {
  background-color: rgb(253, 248, 248);
  color: #333333;
  padding: 1em;
  margin: 0;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

figure {
  text-align: center;
  margin: 0;
}

.container {
  margin-bottom: 40px;
}

h2, h4 {
  margin-bottom: 15px;
}

.justify {
  text-align: justify;
}

@media (max-width: 768px) {
  .justify {
    text-align: center;
  }
}